__pycache__
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.log
*.sqlite3
.DS_Store
*.env
.git
.gitignore
test/
world.sql
testapp
*.zip
